
#meet, #connecting, #ovl-error {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 300px;
    z-index: 99;
}

#connecting, #ovl-error {
    z-index: 100; 
    background-color: #000;
    z-index: 100;
    background-color: #000;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

#experiment_container { 
                    width: 100vw; 
                    height: calc(100vh - 300px); 
                    overflow-y: auto; 
                    position: absolute; 
                    left: 0; 
                    top: 0;
                    }


#btn-request-exptr { 
                position: fixed;
                bottom: 20px;
                right: 20px;    
                z-index: 101;
}
